.body_background 
{
    background-position: center;
    background-size:contain;
	background:url("https://media.istockphoto.com/photos/grass-field-for-football-sport-picture-id936930012?k=20&m=936930012&s=170667a&w=0&h=q2d4-0IRTkQC6KGlIMpy6YUA0q6tVf2lp26m4yadZLw=");
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}